/*****************/
/*     Lists     */
/*****************/

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*****************/
/*     Links     */
/*****************/

a {
  text-decoration: none;
}


/******************/
/*     Titles     */
/******************/

h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}