/*****************/
/* Colors Config */
/*****************/

$golden: #c4af83;
$mustard: #c2bc76;
$grey: #a7a091;
$darkgrey: #7d7d7d;
$white: #fff;
$black: #000;
$pastelpink: #ffeef0;
$pinklink: #de99ab;

$pinkborder: #f9e7e7;
$yellowborder: #f9f5d8;
$greenborder: #ddf3ec;
$greyborder: #ececec;
$flashypink: #fbbbca;